.list {
  background-color: #ebecf0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  white-space: normal;
  padding: 10px 8px;
}

.col-title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #172b4d;
}
